
<!-- Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio aliquam officiis id excepturi, quia temporibus
corporis vero nostrum sunt culpa accusantium cumque numquam fuga. Doloremque recusandae aspernatur suscipit iste
voluptates.

<div class="name-card" *ngFor="let user of names">
  <h1>{{user.FirstName}}</h1>
</div> -->

<nz-table #basicTable [nzData]="names">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of names">
      <td>{{data.FirstName}}</td>
    </tr>
  </tbody>
</nz-table>