.card-meta {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  // margin-bottom: 20px;
}

.list-item-title {
  font-size: 24px;
}

:host::ng-deep .blog-post {
  font-size: 16px;
  font-weight: 400;
  h1,
  h2,
  h3,
  h4 {
    font-size: 16px;
  }
}

// .action-icon:hover {
//   transform: scale(1.4);
//   transition: transform 0.3s ease-in-out;
//   will-change: transform;
// }


.blogList{
  display: flex;
  flex-direction: column;
}

.blog{
  height: 150px;
  margin: 5px;
  background-color: #1111110c;
  overflow: hidden;
}