<!-- Show list of cards over here -->
<!-- <div>
  <div nz-row [nzGutter]="[8,16]">

    <nz-list [nzSplit]=true nzItemLayout="vertical" style="margin: 8px;">

      <nz-list-item *ngFor="let blog of blogs">

        <div class="container mt-5">
          <a class="text-dark" [routerLink]="['blogs/'+blog.Id]">
            <h2 class="title">{{blog.Title}}</h2>
          </a>
          <small class="d-block text-info">
            <i>{{blog.Date}}</i>
          </small>
          <p class="mt-3 d-inline blog-post" [innerHTML]="blog.Body" nz-typography nzEllipsis nzEllipsisRows="3">
          </p>
          <a class="text-primary" [routerLink]="['blogs/'+blog.Id]"><small class="d-inline-block ml-3"> Read full
              post</small></a>
          <div class="d-block">
            <nz-tag *ngFor="let tag of blog.Tags.split(',')">{{tag}}</nz-tag>
          </div>
        </div>

      </nz-list-item>

    </nz-list>

  </div>
</div>  -->


<div class="blogList">

  <div class="blog" *ngFor="let blog of blogs">
    <h2 class="title">{{blog.Title}}</h2>
    <i>{{blog.Date}}</i>
    <!-- <p class="mt-3 d-inline blog-post" [innerHTML]="blog.Body" nz-typography nzEllipsis nzEllipsisRows="3"> -->
    <!-- </p> -->
    <div>
      <p>{{blog.Body | BlogHeadline}}</p>
      <a class="text-primary" [routerLink]="['/home/blog/'+blog.Id]">
        <small class="d-inline-block ml-3"> Read full post</small>
      </a>
    </div>
    <nz-tag *ngFor="let tag of blog.Tags.split(',')">{{tag}}</nz-tag>

  </div>

</div>
